node_modules/
node_modules_broken_*/
.next/
.quarto/
out/

# Local render/build artifacts
_output/

# OS/editor noise
.DS_Store

# Quarto temp outputs
*.log
*.aux
*.toc
*.out
*.tex
*.fdb_latexmk
*.fls

# Quarto figure output (only in _output)
_output/*_files/
_output/quarto/*_files/

/.quarto/
**/*.quarto_ipynb
